<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wataso_.watanabe.omoshirorecycle">

    <application
        android:name=".OmoshiroData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="おもしろリサイクル"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OmoshiroRecycle">
        <service
            android:name=".SoundManagerService"
            android:enabled="true"
            android:exported="false"/>


        <activity android:name=".Toko" />
        <activity android:name=".TimePickerDialogActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>